.range-slider:before {
    position: absolute;
    top: -2em;
    left: .5em;
    content: attr(data-slider-value) "%";
    color: white;
    font-size: 90%;
}

.range-slider input[type=range][orient=vertical] {
    position: relative;
    margin: 0;
    height: 100%;
    width: 100%;
    display: inline-block;
    position: relative;
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    cursor: pointer;
}

.range-slider__thumb:hover {
    color: black;
}

.range-slider input[type=range][orient=vertical]::-webkit-slider-runnable-track,
.range-slider input[type=range][orient=vertical]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.range-slider input[type=range][orient=vertical]::-webkit-slider-runnable-track {
    border: 1px,1px,1px,1px, black;
    background: #E6E6E6;
    width: 10px;
    border-color: #595959;
    border-radius: 10px;
    box-shadow: 0 0 4px 1px rgba(89,89,89,0.8) inset;
}

.range-slider input[type=range][orient=vertical]::-moz-range-track {
    border: 1px,1px,1px,1px, black;
    background: #E6E6E6;
    width: 10px;
    border-color: #595959;
    border-radius: 10px;
    box-shadow: 0 0 4px 1px rgba(89,89,89,0.8) inset;
}

.range-slider input[type=range][orient=vertical]::-ms-track {
    border: 1px,1px,1px,1px, black;
    background: #E6E6E6;
    width: 10px;
    border-color: #595959;
    border-radius: 10px;
    box-shadow: 0 0 4px 1px rgba(89,89,89,0.8) inset;
}

.range-slider input[type=range][orient=vertical]::-ms-fill-lower,
.range-slider input[type=range][orient=vertical]::-ms-fill-upper,
.range-slider input[type=range][orient=vertical]::-ms-tooltip {
    display: none;
}

.range-slider input[type=range][orient=vertical]::-webkit-slider-thumb {
    width: 30px;
    height: 30px;
    opacity: 0;
}

.range-slider input[type=range][orient=vertical]::-moz-range-thumb {
    width: 30px;
    height: 30px;
    opacity: 0;
}

.range-slider input[type=range][orient=vertical]::-ms-thumb {
    width: 30px;
    height: 30px;
    opacity: 0;
}

.theme1 {
    background: linear-gradient(pink, deeppink);
}

.theme2 {
    background: linear-gradient(tomato, red);
}

.theme3 {
    background: linear-gradient(yellow, orange);
}